*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;

}

.header{
    width: 100%;
    height: 100px;
    background: #f1c40f;
    
}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 200px;
    height: auto;
    font-size: 15px;
    padding-top: 30px;

}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    margin: 0;
    padding: 0;
    position: relative;
}

nav ul li{
    display: inline-block;
  list-style-type: none;
  padding-top: 30px;
  padding-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
}

nav ul li a:hover , nav ul li .active {
    text-decoration: underline;
    color: red;
}

/* nav ul li .active{
    color: red;
} */


.banner{
    width: 100%;
    background-position: url(banner2.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 300px;
    background-attachment: fixed;
}

.card{
    flex-basis: 22%;
    height: 310px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px 0 #000;
}
.card img{
    width: 100%;
    display: block;
}

.card p,h3{
    padding: 0 5px;
}
.service{
    width: 100%;
    background: #333;
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;


}
.balck{
    position: absolute;
    width: 350px;
    padding: 15px 15px;
    background: #000;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    color: #f1c40f;
    text-align: center;
}

.service-col{
    flex-basis: 22%;
    padding: 10px;
    margin-top: 30px;
}
.box{
    width: 100%;
    display: flex;
    color: #f1c40f;
   
}
.box i{
    font-size: 25px;
    background: #000;
    width: 45px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
}

.box h6{
    line-height: 45px;
    font-size: 15px;
}
.service-col p{
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 30px;
}
.newsletter{
    width: 100%;
    background: #000;
    margin-bottom: 30px;
    border-top: 5px solid rgba(210,224,9);
    padding: 30px 0;
}
.newsletter-col input{
    width: 300px;
    height: 40px;
    background: transparent;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1 px solid rgba(170,12,12);
    border-left:1 px solid  rgba(170,12,12) ; 
    border-bottom: 1 px solid  rgba(170,12,12);
    padding: 8px;
    float: left;
    font-size: 15px;
    color: #fff;
}
.newsletter-col .btn{
    width: 100px;
    height: 40px;
    background: rgba(207,10,10);
    border: 2px solid rgba(190,14,14);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(58,29,124);
    font-size: 18px;
}

.newsletter-col{
    color: rgb(168, 29, 211);
    font-size: 18px;
}

.newsletter-col input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
}

